:root{
  --bg-color: #091615;
  --bg-card: #9bae9e;
  --bg-button: #739e2f;
  --bg-button2: #297b4e;
  --bg-menu: #505e52;
  --title: #d2d453;
  --destak: #9ccca4;
  --dark-text: #1b2409;
  --light-text: #f2f2f2;
  --calculator: #91a39400;
  --bg-maxCard: rgba(163, 222, 211, 0.484);
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &&{
    background-color: var(--bg-color);
    color: var(--light-text);
  }
}




.toolBar  {
    /* background-color: #cddee2;  */
    background-color: var(--bg-menu);
   

    & button:hover{
      background-color: transparent;   
      font-weight: 700;
    }
}


.calculator{
    margin-top: 40px;
    padding: 20px 10px;
    /* border: 0px solid  var(--destak);
    box-shadow: 1px 1px 10px 2px rgba(251, 252, 167, 0.25); */

}

.calculator .textField {
    background-color: var(--bg-card);
    height:60px;
    stroke: none;
    border-radius: 4px;
    
    & .MuiOutlinedInput-root {
                  & fieldset {
                    border-color: transparent;
                  }
                  &:hover fieldset {
                    border-color: transparent;
                  }
                  &.Mui-focused fieldset {
                    border-color: transparent;
                  }
                }
                & input {
                  height: 50px;
                  padding: 12px;

                }
                & .MuiInputLabel-root {
                  font-size: 1.1rem;
                }
                & .InputLabelProps {
                  color: "var(--dark-text)"; 
                }
}
