:root {
  --bg-color: #091615;
  --bg-card-green: #9bae9e;
  --bg-card-blue: #cddddd;
  --bg-button: #739e2f;
  --bg-button2: #297b4e;
  --bg-menu: #677a7b;
  --title: #d2d453;
  --destak: #9ccca4;
  --dark-text: #1b2409;
  --light-text: #f2f2f2;
  --calculator: #91a39400;
  --bg-maxCard: rgba(163, 222, 211, 0.484);
  --test: #3b403c84;
  --bg-chip: #01677e;
}
html,
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg-color) !important;
  color: var(--light-text);

  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
button {
  font: inherit;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

button:focus {
  outline: none;
}

/* Inputs */
input,
textarea,
select {
  font: inherit;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
